<div class="input-group">
    <div class="input-group">
        <span class="input-group-addon">Encrypt</span>
        <input ng-class="{hidden: getDisabled('encrypt')}" ng-model="encrypt.text" type="text"
               class="form-control" placeholder="{{getPlaceholderText('encrypt')}}">
        <input ng-class="" ng-model="encrypt.encrypted"
               type="text" class="form-control"
               placeholder="{{getPlaceholderText('encrypted')}}">
    </div>
    <button ng-click="submit()" type="button" class="btn btn-success">Encrypt</button>
</div>